@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "mulish", sans-serif;
}
body{
  background-color: cyan;
}
h1{
  text-align: center;
  margin: 20px;
  color: crimson;
  text-transform: uppercase;
  text-decoration: underline;
}
.list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.post{
  margin: 10px;
  max-width: 500px;
  padding: 10px;
  background-color: coral;
}
.post h3{
  text-align: center;
}